{% extends "layouts/base.html" %} {% block title %} Maps Google {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/Play.css" />
{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <h5>Car Play</h5>
        <!-- [ first row of play page ] start -->
        <div class="row">
            <!-- [ game map section ] start -->

            <div class="col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Game Map</h5>
                        <span class="d-block m-t-5">Navigation of Car</span>
                    </div>
                        <form class="input-group" action="/retrieveGameMap" method="POST">
                            <select id="mid" name="mid" class="custom-select" id="inputGroupSelect04">
                                <option selected>Choose Game Map...</option>
                                <option value="1">Easy</option>
                                <option value="2">Medium</option>
                                <option value="3">Hard</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Choose</button>
                            </div>
                        </form>
                    <div id="canvas" class="card-body"></div>
                </div>
            </div>
            <!-- [ game map section ] end -->
            <!-- [ queue commands section ] start -->

            <div class="col-md-6">
                <div class="card" style="height:500px;">
                    <div class="card-header">
                        <h5>Queue Commands</h5>
                    </div>
                    <div class="card-body table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0" style="height:310px;" id="tableCommands">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Step Number</th>
                                    <th scope="col">Command</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button type="button" class="control btn btn-icon btn-primary float-right"
                            id="submitQueue">Submit</button>
                        <button type="button" class="control btn btn-icon btn-warning float-right"
                            id="deleteQueue">Delete</button>
                        <button type="button" class="control btn btn-icon btn-danger float-right"
                            id="deleteAllQueue">Delete All</button>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
        <!-- [ first row of play page ] end -->
        </div>
        <!-- [ second row of play page ] start -->
        <div class="row">
            <!-- [ controls section ] start -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Controls</h5>
                    </div>
                    <div class="card-body">
                        <div class="flex-container">
                            <div>
                                <button type="button" class="control btn btn-primary" id="stop">Force Stop</button>
                                <button type="button" class="control btn btn-primary" id="stars">When <i
                                        class="fas fa-star"></i> on black tiles</button>
                                <button type="button" class="control btn btn-primary" id="black_tiles">When on black
                                    tiles</button>
                            </div>
                        </div>

                        <button type="button" class="rotate control btn btn-icon btn-primary wid-55 hei-55" id="rotate">
                            <i class="fa fa-undo fa-2x"></i>
                        </button>
                        <button type="button" class="up control btn btn-icon btn-primary wid-55 hei-55" id="up">
                            <i class="fa fa-arrow-up fa-2x"></i>
                        </button>
                        <br>

                        <button type="button" class="left control btn btn-icon btn-primary wid-55 hei-55" id="left">
                            <i class="fa fa-arrow-left fa-2x"></i>
                        </button>
                        <button type="button" class="down control btn btn-icon btn-primary wid-55 hei-55" id="down">
                            <i class="fa fa-arrow-down fa-2x"></i>
                        </button>
                        <button type="button" class="right control btn btn-icon btn-primary wid-55 hei-55" id="right">
                            <i class="fa fa-arrow-right fa-2x"></i>
                        </button>

                    </div>
                </div>
            </div>
        
            <!-- [ controls section ] end -->
            <!-- [ Robo car status section ] start -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h5>Your Robo Car Status</h5>
                    </div>
                    <div class="card-body">
                        <div class="flex-container">
                            <!-- illustration -->
                            <div>
                                <i class="fas fa-car-side fa-3x" style="font-size: 3em; color: #449cfc;"></i>
                                <canvas id="bottomRect" width="60" height="35" style=" display: block;">Your browser does not support the HTML5 canvas tag.</canvas>
                            </div>
                            <canvas id="rightRect" width="35" height="45">Your browser does not support the HTML5 canvas tag.</canvas>
                            <!-- status information -->
                            <div class="status">
                                <p>Current Movement: </p>
                                <p>Speed (cm/s): </p>
                                <p>Total distance travelled (cm): </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Robo car status section ] end -->
        </div>
        <!-- [ second row of play page ] end -->
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- google-map Js -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.google.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<script src="/static/assets/js/plugins/gmaps.min.js"></script>
<script src="/static/assets/js/pages/google-maps.js"></script>
<script src="/static/assets/js/pages/play.js"></script>

{% endblock javascripts %}
